<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date Inicial</th>
            <th>Date Final</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" [(ngModel)]="newProject.name"></td>
            <td><input class="form-control" [(ngModel)]="newProject.dateIni"></td>
            <td><input class="form-control" [(ngModel)]="newProject.dateFin"></td>
            <td><input class="form-control" [(ngModel)]="newProject.status"></td>
            <td><input class="form-control" [(ngModel)]="newProject.description"></td>
            <td><button class="btn btn-primary" (click)="addProject()">Add Project</button> </td>
        </tr>
        <tr *ngFor="let project of projects" app-editable-project [project]="project">
        </tr>
    </tbody>
</table>